
@{
    ViewBag.Title = "Candy Store - Welcome";
}

<h2>Order Some Candy Here!</h2>

<form action="/Candy/Checkout" method="GET">
    <div>
        <label>Name:</label>
        <input type="text"/>    
    </div>
    <div>
        <label>Candy Size:</label>
        <select>
            <option value="S">Small ($9.99)</option>
            <option value="M">Medium ($13.99)</option>
            <option value="S">Large ($15.99)</option>
        </select>
    </div>
</form>

