@model IEnumerable<Cumulative1.Models.Teacher>

@{
    ViewBag.Title = "List";
}

<h2>Teacher's List</h2>

<a href="/Teacher/New">Add Teacher</a> 


<form action="/Teacher/List" method="GET">
    <div>
        <input type="text" name="TeacherSearch"/>
        <input type="submit" value="Search"/>
    </div>
</form>
@{ 
    foreach (Cumulative1.Models.Teacher Teacher in Model)
            {

            <div class="listitem row">
                <div class="col-md-12">
                    <a href="/Teacher/Show/@Teacher.TeacherId">@Teacher.TeacherFName @Teacher.TeacherLName</a>
                </div>
            </div>

            }
}

