@model Cumulative1.Models.Teacher
@{
    ViewBag.Title = "New";
}

<h2>Add New Teacher</h2>

<form action="/Teacher/Create" method="POST">
    <div>
        <label>First Name:</label><input type="text" name="TeacherFName"/>
    </div>
    <div>
        <label>Last Name:</label><input type="text" name="TeacherLName"/>
    </div>
    <div>
        <label>Salary:</label><input type="number" step="0.01" name="Salary"/>
    </div>
    <div>
        <label>Employee Number:</label><input type="text" pattern="[T][0-9]{3}" placeholder="T555" name="EmployeeNumber"/>
    </div>
    <div>
        <input type="submit" value="Add Teacher"/>
    </div>
</form>

