@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">School Application</h1>
        <p class="lead">School Application is a school assignment for my C# class.</p>
        <p><a href="https://localhost:44350/Class/List" class="btn btn-primary btn-md">Classes List &raquo;</a></p>
        <p><a href="https://localhost:44350/Teacher/List" class="btn btn-primary btn-md">Teacher's List &raquo;</a></p>
        <p><a href="https://localhost:44350/Student/List" class="btn btn-primary btn-md">Students List &raquo;</a></p>
    </section>
</main>